.questioninput {
	background-color: #eeeeee !important;
	padding-left: 45px !important;
	overflow: hidden;
	&:focus {
		background-color: #fff !important;
	}
	&__icon {
		background-color: #eeeeee;
		padding: 9px;
		font-size: 18px;
		border: 1px solid #ced4da;
		position: absolute;
		
	}
	&__arrow {
		position: absolute;
		cursor: pointer;
		left: 15px;
		top: 10px;
		font-size: 22px;
	}
	&__block{
		position: relative;
		padding-left: 35px;
	}
}


